<!DOCTYPE html>
<html>
  <head>
    <title>Clinica Lebranch</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
  </head>
  <body class="cuerpop">

    <header class="header">

      <div class="contenedortitulo">
        <h1>Clinica Fisioterapeutica Lebranch</h1>
      </div>

    </header>

    <section class="main">
      
      <div class="contenedorc">
        <h3>Bienvenidos a La clinica Lebranch</h3>
        <br>
      </div>
      <div class="contenedor">

        <p>Nos especializamos en ofrecerte un servicio de primera totalmente especializado en rehabilitacion, o problema de su primera necesidad.
        </p>
        <img src="../images/descripcion.jpg" alt="" class="imgdesc">
      </div>

      <br>

      <div class="contenedorc">
        <h3>Nuestros servicios</h3>
        <br>
      </div>
      <div class="contenedor2">
        <p>-Terapia fisioterapeutica 20$.</p>
        <br>
        <p>-Terapia electrica 25$.</p>
        <br>
        <p>-Terapia de calor 20$.</p>
        <br>
        <p>-Terapia de acupuntura 20$.</p>
        <br>
        <p>-Paquete de 3 terapias 50$.</p>

        <br>

        <img class="imgserv" src="../images/servicios.jpg" alt="">
      </div>

      <br>

      <div class="contenedorc">
        <h3>Beneficios y ventajas</h3>
        <br>
      </div>
      <div class="contenedor">

        <img class="imgben" src="../images/beneficios.jpg" alt="">

        <p>La rehabilitacion mediante terapias es fundamental para llevar a cabo una buena recuperacion, sin duda alguna los beneficios de una buena atencion fisioterapeutica es de primera necesidad </p>

        <br>

        
      </div>

      

    </section>


    <footer class="footer">
      <div class="secc">
        <p> Clinica Lebranch Derechos Reservados &copy</p>
      </div>
      <div class="secc">
        <p>contactanos: 0244-8961647 </p>
        <p>-/-email: ClinicLebranch@gmail.com</p>
        <p>-/-ubicación: Sendrea</p>
      </div>
      <div class="secc">
        <p>Siguenos en nuestras redes</p>
      </div>
      <div class="secc">
        <p>facebook: <a href="https://www.facebook.com/lebranchclinic">ClinicLebranch</a></p>
        <p>-/-instagram: <a href="#">@ClinicLebranch22_2</a></p>
        <p>-/-twitter: <a href="#">@ClinicLebranch21</a></p>
      </div>
      
    </footer>
  </body>
</html>
